<div th:replace="~{compartilhado/topo}"></div>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Contas Pagas</h1>
    <p class="mb-4">Aqui você pode ver todas as contas que foram pagas.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Contas Pagas</h6>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="tamanho">Mostrar:</label>
                <select id="tamanho"
                    onchange="window.location.href = '/contaspagas?tamanho=' + this.value + '&pagina=0'">
                    <option th:value="20" th:text="'20'" th:selected="${tamanho == 20}">20</option>
                    <option th:value="50" th:text="'50'" th:selected="${tamanho == 50}">50</option>
                    <option th:value="100" th:text="'100'" th:selected="${tamanho == 100}">100</option>
                    <option th:value="500" th:text="'500'" th:selected="${tamanho == 500}">500</option>
                </select>
                registros por página
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Fornecedor</th>
                            <th>CNPJ</th>
                            <th>Data de Vencimento</th>
                            <th>Valor</th>
                            <th>Valor Pago</th>
                            <th>Data de Pagamento</th>
                            <th colspan="2">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="conta : ${contasPagasPage.getContent()}" th:if="${conta.valorPago != null}">
                            <td th:text="${conta.id}"></td>
                            <td th:text="${conta.fornecedor}"></td>
                            <td th:text="${conta.cnpj}"></td>
                            <td th:text="${conta.dataVencimento}"></td>
                            <td th:text="${conta.valor}"></td>
                            <td th:text="${conta.valorPago}"></td>
                            <td th:text="${conta.dataPagamento}"></td>
                            <td><a class="fas fa-fw fa-solid fa-pen"
                                    th:href="@{'/contasapagar/' + ${conta.id} + '/editar/'}"></a></td>
                            <td><a href="#"
                                    th:onclick="'if(confirm(\'Confirma ?\')) { window.location.href = \'' + @{/contasapagar/{id}(id=${conta.id})} + '/excluir\' } '">
                                    <i class="fas fa-trash-alt d-flex align-items-center justify-content-center"
                                        style="color: #E74A3B"></i>
                                </a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                <ul class="pagination">
                    <li th:classappend="${contasPagasPage.hasPrevious()} ? '' : 'disabled'">
                        <a
                            th:href="@{'/contaspagas?pagina=' + ${paginaAtual - 1} + '&tamanho=' + ${tamanho} }">Anterior</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(0, contasPagasPage.getTotalPages() - 1)}"
                        th:classappend="${i == paginaAtual} ? 'active' : ''">
                        <a th:href="@{'/contaspagas?pagina=' + ${i} + '&tamanho=' + ${tamanho} }"
                            th:text="${i + 1}"></a>
                    </li>
                    <li th:classappend="${contasPagasPage.hasNext()} ? '' : 'disabled'">
                        <a
                            th:href="@{'/contaspagas?pagina=' + ${paginaAtual + 1} + '&tamanho=' + ${tamanho} }">Próxima</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<div th:replace="~{compartilhado/baixo}"></div>